/*
Author: Alex Meier
Email: Alex_meier@student.uml.edu
*/
html,body,.container {
    height:100%;
}
body {
    background-color: darkgray;
}

div {
    background-color: white;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    min-width: 30px;
}

th {
    border: 1px solid black;
    border-right: solid white;
    color: white;
    background-color: black;
    min-width: 10px;
}

/*
Form styling
*/
#table-form {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    border: solid;
    border-radius: 5px;
    background-color: lightgray;

}

input {
    display: list-item;
}

/*
Styling for error messages 
*/
.error {
    color: red;
    font-size: small;
}

.tableContainer {
    display: inline-block;
    overflow: scroll;
    max-width: 100%;
    max-height: 60%;
    border: inset;
    margin: 10px;
    scrollbar-3dlight-color: blue;
}

/*tab styling*/