/*Author: Alex Meier
    Email: alex_meier@student.uml.edu
    Homework 7
*/
#holder {
    height: 182px;
    width: 640px;
    margin: auto;
    background-image: url("../graphics_data/scrabble-tile-holder-406774_640.png");
    background-size: contain;
    display: flex;
    flex-direction: row;
}

#board {
    height: 90px;
    width: 1267px;
    margin:auto;
    margin-bottom: 50px;
    background-image: url("../graphics_data/Scrabble_Board_OneLine.png");
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.board-space {
    height: 90px;
    width: 90px;
}

.tile {
    height: 80px;
    width: 80px;
    margin:auto;
}

.tile-image {
    height: inherit;
    width: inherit;
}

/*
Styling for score board
*/
.score_label, #score_board{
    margin: auto;
}

.score_element{
    color: green;
}

.score-change{
    color: blue;
}

/*
Styling for controls
*/
#controls{
    align-items: center;
}